.brand-logo {
    margin-left: 20px;
}

.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}

.slider .indicators .indicator-item.active {
  background-color: cyan; 
}

h4 {
  text-align: center;
  padding-top: 10px;
}

h5 {
  padding: 20px;
}

button {
  margin-top: 20px;
}